<!-- <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Pagina</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
        
    </head>
    <body>
        <div class="login-box-body">
            <p class="login-box-msg">Ingresa tus datos para iniciar session</p>
            
            <div class="form-group has-feedback">
                <input id="usuario" type="text" class="form-control" placeholder="Usuario, Id, NumeroControl">
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input id="password" type="password" class="form-control" placeholder="Contraseña">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div> 
            <div class="row">                    
                    <div class="col-md-12 ">
                        <button id="enviar" class="btn btn-primary btn-block btn-flat">Iniciar</button>
                    </div>
            </div>
            <div class="row">                    
                <div class="col-md-12 ">
                    <a href="/Registrar" class="btn btn-block btn-success">Registrarse</a>
                </div>
        </div> -->
            <!-- /.social-auth-links -->
            <!-- <br>
        </div> -->
        <!-- /.login-box-body -->
        <!-- {% include "includes/_message.html "%}
    </body>
</html> -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="stilos.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Pagina</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
        
    </head>
    <body style="background-color:#a9e9c0;">
                 <div><li><a href="/Registrar"><h3>Registrarse</h3><span class="sr-only">(current)</span></a></li></div> 
                  <li><a href="/Login"><h3>Logearse</h3></a></li>
                
                
        
        
          
        <!-- /.login-box-body -->
        <!-- {% include "includes/_message.html "%} -->
        {% block body%}
        {% endblock %}
    </body>
</html>